.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto
}

/* Header-Beginning */
header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.travelo {
    display: flex;
    align-items: center;

}

.travelo p:hover {
    color: #4468E2;

}

.Home {
    display: flex;
    justify-content: space-between;

}

.Home li {
    padding: 30px;
    color: blue;
    opacity: 75%;
}

.Home li:hover {
    color: black;
}


.connect {
    background-color: #4468E2;
    color: white;
    border-radius: 17px;
    border: 1px solid blue;

}

/* Section First Styles */
.sectionFirst {
    width: 90%;
    height: 608px;
    margin: 0 auto;
    background-image: url(./Image/backgroundimage.png);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    padding-top: 210px;
}

.sectionFirst p {
    text-align: center;
    padding-top: 20px;
    
}

.boxFirst {
    width: 800px;
    height: 80px;
    border-radius: 10px;
    margin-top: 50px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-evenly;

}

.boxFirst div {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20% ;
    padding: 20px 0px 20px 0px;
}
.boxFirst div p {
    opacity: 0.8;
    color: #7E7E7E;
    margin-top: -15px;
}


.boxFirst button {
    background-color: #4468E2;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    border: none;
}

.boxFirst input {
    border: none;
}
/* Section Second Styles */
.sectionSecond{
    width: 90%;
    height: 250px;
    
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.sectionSecond div{
    width: 22%;
    height: 250px ;
   
    
}
.sectionSecond div img{
    padding-left: 30px;
    padding-top: 30px;
}

h3{
    padding-left: 20px;
    margin-top: 30px;
    
}
.sectionSecond div p {
    font-size: 13px;
    padding-left: 20px;
    padding-top: 50px;
    
}